/* .header {
    grid-area: h; 
    background-color: rgb(146, 152, 177); 
    border: 2px solid rgb(128, 4, 0);
    background: url('../IMG_src/kniga_babochki.jpg') center no-repeat;
    background-size: cover;
} */


/* .header_child1 {
    text-align: center;
} */


/* .header_child1 span {
    color: rgb(0, 4, 218);
    line-height: 3em;
    font-size: 19px;
    background-color: blueviolet;
} */